.form-container {
    width: 400px;
    border-radius: 0.75rem;
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    backdrop-filter: blur(5px);
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url(footlball.jpg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    position: absolute;
    display: block;
    color: rgba(#fff);
    margin-bottom: 4px;
    text-align: center;
  }
  
  .input-group input {
    width: 100%;
    height: 50px;
    border-radius: 0.375rem;
    border:none;
    outline: 0cm;
    background: transparent;
    padding: 0.375rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  

  .input-group input:focus {
    border-color: rgb(5, 175, 96);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot a:hover, .signup a:hover {
        text-decoration: underline;
        transform: scale(1.02); 
        cursor: pointer;
      }
  
  .sign {
    display: block;
    width: 100%;
    background-color: rgb(106, 206, 122);
    padding: 0.75rem;
    text-align: center;
    color: rgb(2, 66, 40);
    border: none;
    border-radius: 0.75rem;
    font-weight: 600;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
  }

  .sign:hover {
    transform: translateY(-5px);
  }
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
    font-size: 2rem;
    color: #fff;
    transition: transform 0.2s ease, color 0.3s ease;
  }
    
    .social-icons .icon:hover {
      color: rgb(106, 206, 122);
      transform: scale(1.1);
    }
    
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-wrapper .icon {
    position: absolute;
    left: 10px;
    color: rgba(156, 163, 175, 1);
    font-size: 1.2rem;
    pointer-events: none;
  }
  
  .input-wrapper input {
    padding-left: 2.5rem;
  }

.remember-forgot{
  margin:  -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: left;
}

.club-features {
  font-size: 1.1rem;
  margin-bottom: 20px;
  padding-left: 1.5rem;
  list-style-type: disc;
  color: #ffffff;
}

.club-features li {
  margin-bottom: 8px;
}
